
<ul>
    {% for y in year %}
        <li>
            {{ y.year }}
            <ul>
                {% for l in level %}
                    <li>
                        {{ l.level }}
                        <ul>
                            {% for d in doc_type %}
                            <li>
                                {{ d.type }}
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>