{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Log-in{% endblock %}

{% block content2 %}
<!-- .auth -->
<main class="auth">
  <header id="auth-header" class="auth-header">
    <h1>
        <p style="padding-bottom: 15px;"> JJWC Knowledge Management </p>
      <span class="sr-only">Sign In</span>
    </h1>
  </header>
  <!-- form -->
  <form class="auth-form" method="post">
    {{ form|crispy }}
    <!-- /.form-group -->
     <input type="hidden" name="next" value="{{ next }}" />
    <!-- .form-group -->
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
    </div>

    <!-- recovery links -->
    <div class="text-center pt-3">
      <a href="{% url "password_reset" %}" class="link">Forgot Password?</a>
    </div>
    <!-- /recovery links -->
      {% csrf_token %}
  </form>
  <!-- /.auth-form -->
  <footer class="auth-footer">{% include "privacy_and_terms.html" %}</footer>



</main>
<!-- /.auth -->
{% endblock %}