{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content2 %}
<main class="auth">
  <!-- form -->
  <div class="auth-form auth-form-reflow">
    <div class="text-center mb-4">
      <h1 class="h3">Reset Your Password</h1>
    </div>


    <!-- .form-group -->
    <div class="form-group mb-4">
        <p class="text-center">We've emailed you instructions for setting your password.</p>
        <p class="text-center">If you don't receive an email, please make sure you've entered the address you registered with.</p>
    </div>
    </div>
    <div class="d-block d-md-inline-block">
      <a href="{% url "login" %}" class="btn btn-lg btn-block btn-primary">Return to signin</a>
    </div>
  </div>
  <!-- /.auth-form -->
<footer class="auth-footer mt-3">{% include "privacy_and_terms.html" %}</footer>
</main>
{% endblock %}