{% extends "base.html" %}
{% block title %}Password set{% endblock %}
{% block content %}
<main class="auth">
  <!-- form -->
  <div class="auth-form auth-form-reflow">
    <div class="text-center mb-3">
      <h1 class="h3">Password set</h1>
    </div>


    <!-- .form-group -->
    <div class="form-group mb-3">
        <p class="text-center">Your password has been set. You can <a href="{% url "login" %}">log in now</a></p>
    </div>
    </div>
  </div>
  <!-- /.auth-form -->
<footer class="auth-footer mt-2">{% include "privacy_and_terms.html" %}</footer>
</main>
{% endblock %}