{% load static %}
<aside class="app-aside app-aside-light app-aside-expand-md">
  <!-- .aside-content -->
  <div class="aside-content">
    <!-- .aside-header -->
    <header class="aside-header d-block d-md-none">
      <!-- .btn-account -->
      <button class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside">
        <span style="padding:10px;">
             <div class="tile tile"><span class="oi oi-person"></span></div>
            </span>
        <span class="account-icon">
          <span class="fa fa-caret-down fa-lg"></span>
        </span>
        <span class="account-summary">
         <span class="account-name">{{ request.user.first_name }} {{ request.user.last_name }}</span>
        </span>
      </button>
      <!-- /.btn-account -->

      <!-- .dropdown-aside -->
      <div id="dropdown-aside" class="dropdown-aside collapse">
        <!-- dropdown-items -->
        <div class="pb-3">
          <a class="dropdown-item" href="{% url "logout" %}"><span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Help Center</a>
        </div>
        <!-- /dropdown-items -->
      </div>
      <!-- /.dropdown-aside -->
    </header>
    <!-- /.aside-header -->

    <!-- .aside-menu -->
    <section class="aside-menu perfect-scrollbar">
      <!-- .stacked-menu -->
      <nav id="stacked-menu" class="stacked-menu">
        <!-- .menu -->
        <ul class="menu">
          <li class="menu-item has-active">
                  <a href="index.html" class="menu-link"><span class="menu-icon fas fa-home"></span> <span class="menu-text">Dashboard</span></a>
                </li>
            <li class="menu-item">
                  <a href="#" class="menu-link"><span class="menu-icon far fa-file"></span> <span class="menu-text">Documents</span></a> <!-- child menu -->
                </li>
              <li class="menu-item">
                  <a href="#" class="menu-link"><span class="menu-icon fas fa-calendar"></span> <span class="menu-text">Calendar</span></a>
            </li>
              <li class="menu-item">
                  <a href="#" class="menu-link"><span class="menu-icon fas fa-chalkboard"></span> <span class="menu-text">Forum</span></a>
            </li>
        </ul>
        <!-- /.menu -->
      </nav>
      <!-- /.stacked-menu -->
    </section>
    <!-- /.aside-menu -->
  </div>
  <!-- /.aside-content -->
</aside>
