
{% load i18n static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <!-- BEGIN PLUGINS STYLES -->
    <!-- plugins styles goes here -->
    <!-- END PLUGINS STYLES -->

    <!-- BEGIN THEME STYLES -->
    <link rel="stylesheet" href="{% static "assets/stylesheets/theme.min.css" %}" data-skin="default">
    <link rel="stylesheet" href="{% static "assets/stylesheets/theme-dark.min.css" %}" data-skin="dark">
    <link rel="stylesheet" href="{% static "assets/stylesheets/custom.css" %}">
<link rel="stylesheet" href="{% static "assets/vendor/open-iconic/font/css/open-iconic-bootstrap.min.css" %}" >
<link rel="stylesheet" href="{% static "assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" %}">
<link rel="stylesheet" href="{% static "assets/vendor/bootstrap-select/css/bootstrap-select.min.css" %}">

    <!-- Disable unused skin immediately -->
    <script>
      var skin = localStorage.getItem('skin') || 'default';
      var disabledSkinStylesheet = document.querySelector('link[data-skin]:not([data-skin="'+ skin +'"])');

      // Disable unused skin immediately
      disabledSkinStylesheet.setAttribute('rel', '');
      disabledSkinStylesheet.setAttribute('disabled', true);

      // add loading class to html immediately
      document.querySelector('html').classList.add('loading');
    </script>
    <!-- END THEME STYLES -->

    <!-- BEGIN PAGE LEVEL STYLES -->
    <!-- styles for specific page goes here -->
    <!-- END PAGE LEVEL STYLES -->
{% block css %}
        {% endblock %}
  {% block extra_css %}
    {% endblock  %}
  </head>
  <body>
    {% block content2 %}
    {% endblock %}
    {% block body %}
    {% endblock %}

  </body>

  {% include "scripts.html" %}
    {% block page_specific_js %}
    {% endblock %}
  {% block extra_head %}{% endblock %}

   {% block js %}
    {% endblock  %}
    {% block extra_js %}
    {% endblock  %}
    {% load google_analytics_tags %}
    <div style="display:none">
        <img src="{% google_analytics %}" width="0" height="0" />
    </div>
</html>