{% load static %}
<script src={% static "assets/vendor/jquery/jquery.min.js" %}></script>
<script src={% static "assets/vendor/popper.js/umd/popper.min.js" %}></script>
<script src={% static "assets/vendor/bootstrap/js/bootstrap.min.js" %}></script>
<!-- END BASE JS -->

<!-- BEGIN PLUGINS JS -->
<script src={% static "assets/vendor/stacked-menu/js/stacked-menu.min.js" %}></script>
<script src="{% static "assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js" %}"></script>
<!-- END PLUGINS JS -->

<!-- BEGIN THEME JS -->
<script src={% static "assets/javascript/theme.min.js" %}></script>

<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600" rel="stylesheet">

{#  <script type="text/javascript" src="{% static "schedule2.js" %}"></script>#}
{#        <link rel="stylesheet" href="{% static "schedule.css" %}" type="text/css" media="screen">#}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
