{% extends "base_with_header_and_aside.html" %}
{% block title %}Dashboard{% endblock %}
{% block app_content %}
<!-- .page -->
<div class="page has-sidebar has-sidebar-expand-xl">
  <!-- .page-inner -->
  <div class="page-inner">


    <!-- .page-section -->
    <div class="page-section">
      <!-- .section-block -->
      <div class="section-block">
           <div class="row mb-4">
          <!-- .col-auto -->
          <div class="col-auto">
            <!-- invite members -->
            <div class="dropdown">
              <button class="btn btn-primary" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                 Add Document
              </button>
            </div>
            <!-- /invite members -->
          </div>
          <!-- /.col-auto -->
        </div>
        <!-- grid row -->
        <div class="row mb-4">
          <!-- .col -->
          <div class="col">
            <!-- .has-clearable -->
            <div class="has-clearable">
              <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
              </button>
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <!-- /.has-clearable -->
          </div>
          <!-- /.col -->
          <!-- .col-auto -->
          <div class="col-auto">
            <!-- invite members -->
            <div class="dropdown">
              <button class="btn btn-primary" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                 Search
              </button>
            </div>
            <!-- /invite members -->
          </div>
          <!-- /.col-auto -->
        </div>
        <!-- /grid row -->
          {% for i in '0123456789'|make_list %}
          <div class="card mb-2">
                    <!-- .card-body -->
                    <div class="card-body">
                      <!-- grid row -->
                      <div class="row align-items-center">
                        <!-- grid column -->
                        <!-- /grid column -->
                        <!-- grid column -->
                        <div class="col">
                          <h3 class="card-title">
                            <a href="user-profile.html">Downloadable Forms</a>
                          </h3>
                          <h6 class="card-subtitle text-muted">This are the downloadable forms</h6>
                        </div><!-- /grid column -->
                        <!-- /grid column -->
                        <div class="col-auto">
                           <!-- .dropdown -->
                          <div class="dropdown d-inline-block">

                            <div class="dropdown-menu dropdown-menu-right">
                              <div class="dropdown-arrow"></div><button type="button" class="dropdown-item">Invite to a team</button> <button type="button" class="dropdown-item">Copy member ID</button>
                              <div class="dropdown-divider"></div><button type="button" class="dropdown-item">Remove</button>
                            </div>
                          </div><!-- /.dropdown -->
                        </div><!-- /grid column -->
                      </div><!-- /grid row -->
                    </div><!-- /.card-body -->
                  </div>
            {% endfor %}
      </div>
      <!-- /.section-block -->
    </div>
    <!-- /.page-section -->
  </div>
  <!-- /.page-inner -->

</div>
<!-- /.page -->
{%  endblock %}