{% extends "base_with_header_and_aside.html" %}
{% block title %}Dashboard{% endblock %}
{% block app_content %}
<!-- .page -->
<div class="page has-sidebar has-sidebar-expand-xl">
  <!-- .page-inner -->
  <div class="page-inner">
    <header class="page-title-bar">

      <!-- title -->
{#      <h1 class="page-title">Documents</h1>#}
      <!-- /title -->

    </header>

    <!-- .page-section -->
    <div class="page-section">
    {% include "document/document_header.html" %}

      <!-- .section-block -->
      <div class="section-block">

        <!-- /grid row -->
          {% for type in doc_types %}
          <div class="card mb-2">
                    <!-- .card-body -->
                    <div class="card-body" style="cursor: pointer;">
                      <!-- grid row -->
                        <input type="hidden" value="{{ type.id }}" class="type_id" >
                        <a href="#" style=" display: block;height: 100%;width: 100%; text-decoration: none;"></a>
                      <div class="row align-items-center">
                        <!-- grid column -->
                        <!-- /grid column -->
                        <!-- grid column -->

                          <div class="col">
                        <h3 class="card-title">
                            {{ type.type }}
                          </h3>
                          <h6 class="card-subtitle text-muted">{{ type.description }}</h6>
                        </div><!-- /grid column -->

                        <!-- /grid column -->
                      </div><!-- /grid row -->
                    </div><!-- /.card-body -->
                  </div>
            {% endfor %}
      </div>
      <!-- /.section-block -->
    </div>
    <!-- /.page-section -->
  </div>
  <!-- /.page-inner -->

</div>
<!-- /.page -->


{%  endblock %}

 {% block page_specific_js %}
     <script>
            $("#add_document").click(function (ev) { // for each edit contact url
                ev.preventDefault(); // prevent navigation
                $("#add_document_modal").modal('show');
                return false; // prevent the click propagation
            });

            $(".card-body").click(function (ev) { // for each edit contact url
                location.href = 'list_document/' + $(this).find('.type_id').val();
            });

</script>
    {% endblock %}