{% extends "base_with_header.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block app_content %}
<div style="padding:20px;">

    <h1>Privacy Policy</h1>

   

    <h3>1. Applicability</h3>
    <p>{% lorem 3%}</p>

    <h3>2. Personal Information We Collect</h3>
    <h5><i>2.1 Personal Information You Voluntarily Provide to KM</i></h5>
    <p>{% lorem 2%}</p>
    <h5><i>2.2 Personal Information We Collect Automatically</i></h5>
    <p>{% lorem 2%}</p>

    <h3>3. Data Security</h3>
    <p>{% lorem %}</p>

    <h3>4. Data Retention</h3>
    <p>{% lorem 4%}</p>

    <h3>5. Automated Data Collection Technologies</h3>
    <h5><i>5.1 Cookies and Analytics</i></h5>
    <p>{% lorem%}</p>
    <h5><i>5.2 “Do Not Track” Signals</i></h5>
    <p>{% lorem 2%}</p>
    <h3>6. Third-Party Services</h3>
    <p>{% lorem 4%}</p>
    
    
    
</div>

{% endblock %}