{% extends "base_with_header.html" %} -->
{% block title %}Terms of Use{% endblock %}
{% block app_content %}
<div style="padding:20px;">

    <h1>Terms of Use</h1>

    <h2>Section A: General Terms</h2>

    <h3>1. Overview of the Service</h3>
    <p>{% lorem 3%}</p>
    <h3>2. Age Policy; Permitted Users</h3>
    <p>{% lorem 2%}</p>
    <h3>3. Your Account and Your Information</h3>
    <h5><i>3.1 You Must Register for an Account</i></h5>
    <p>{% lorem %}</p>
    <h5><i>3.2 You Must Safeguard Your Account</i></h5>
    <p>{% lorem %}</p>
    <h5><i>3.3 Maintaining Your Account Current</i></h5>
    <p>{% lorem %}</p>
    <h5><i>3.4 We Will Verify Your Identity</i></h5>
    <p>{% lorem 2%}</p>
    <h2>Section B: KM Technology</h2>
    <h3>1. Payment Processing Services</h3>
    <p>{% lorem 4%}</p>
    <h3>2. Your Customers</h3>
    <p>{% lorem 2%}</p>
    <h3>3. Application Programming Interface</h3>
    <p>{% lorem %}</p>
    <h3>4. KM's Intellectual Property & Licenses</h3>
    <p>{% lorem 2%}</p>
</div>

{% endblock %}

